# Игнорирование виртуального окружения
.venv/
env/
venv/

# Игнорирование кэша
__pycache__/
*.py[cod]

# Игнорирование временных файлов и директорий
*.swp
*.swo
*.log
*.tmp
*.temp
*.bak
*.pid

# Игнорирование конфигурационных файлов
*.env
*.db
*.sqlite3

# Игнорирование файлов и настроек PyCharm
.idea/
*.iml

# Игнорирование других временных файлов
.DS_Store
Thumbs.db

# Игнорирование пользовательских данных
data/session_name
data/content_plan.db
